/* @media(max-width: 1400px) {
    .hero-heading h1 {
        font-size: 100px;
    }
}

@media(max-width: 1100px) {
    .hero-heading h1 {
        font-size: 90px;
    }
}

@media(max-width: 945px) {}
   .hero-heading h1 {
        font-size: 80px;
    }
@media(max-width: 800px) {}
    .hero-heading h1 {
        font-size: 70px;
    }
@media(max-width: 700px) {}
    .hero-heading h1 {
        font-size: 60px;
    }
@media(max-width: 600px) {}
.hero-heading h1 {
        font-size: 55px;
    }
@media(max-width: 500px) {}
  .hero-heading h1 {
        font-size: 50px;
    }
@media(max-width: 400px) { 
    .hero-heading h1 {
        font-size: 45px;
    }} */